@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root{
  font-size:8px;
  font-family: 'Barlow Semi Condensed',sans-serif;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed',sans-serif;
  background-color: rgb(236, 236, 236);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
